.container {

    display:flex;
    justify-content: center;
}


.hero {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1em;
    width: 100vw;
}
.hero h2 {
    margin-top: 0;
    margin-bottom: 0.3em;
    text-align: center;
}

.hero .chart-container {

    display: flex;
    justify-content: space-between;

}

.hero .chart-container .line-container {
    
    width: 50vw;
    height: 40vh;
    margin-right: 10vh;
}

.hero .chart-container .anomaly-container {

    width: 40vw;
    height: 40vh;
}
